<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="QuanLyDaiLyEntity" connectionString="metadata=res://*/DAO.QuanLyDaiLyModel.csdl|res://*/DAO.QuanLyDaiLyModel.ssdl|res://*/DAO.QuanLyDaiLyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-5CC9I911\SQLSERVER;initial catalog=QLDaiLy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>